@model TaobaoMVC.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Member</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nickname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nickname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegisterOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegisterOn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthCode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
